*.apk
*.class
*class
*~
*.dex
*.ap_
*/R.java
projects/twinCitiesTraffic/gen/
projects/twinCitiesTraffic/assets/
resources/images/champi_icons/
resources/images/menu_icons/LICENSE
resources/images/icons_from_android.git.kernel.org/
resources/screenshots/
.metadata
projects/musicscout/gen/
projects/musicscoutTest/gen/
